h1 {
    font-family: "Playfair Display", serif;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    color: #526056;
}

h2 {
    font-family: "Playfair Display", serif;
    color:#526056;
    top: -100px;
    bottom: -5px;
}

.home-page-heading {
    font-family: "Playfair Display", serif;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    margin-top: 95px;
    color: #526056;
}

.choose-heading {
    font-family: "Playfair Display", serif;
    text-align: left;
    font-size: 70px;
    font-weight: bold;
    margin-left: 110px;
    color: #526056;
}

.deco-heading {
    margin-bottom: 0px;
}

button {
    background-color: #526056;
    color: white;
    border: none;
    text-align: center;
    padding: 13px 13px;
    font-family: "Playfair Display", serif;
    font-size:25px;
    width: auto;
    height: auto; 
    border-radius: 10px;
}

button:hover {
    background-color: #39403c;
}

.frame-button {
    background-color: transparent;
    width: auto;
    height: auto;
}

.frame-img {
    transition: transform 0.1s ease;
}

.frame-button:hover {
    background-color: transparent;
}

.frame-button:hover .frame-img {
    transform: scale(1.2);
}

.button-container {
    text-align: center;
    margin-top: -30px;
    padding-bottom: 40px;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content, form#chooseForm {
    flex: 1;
    background-color: #aac0b0;
}

.content-home {
    background-image: url('/static/deco/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content-photobooth {
    display: flex;
    padding-top: 40px;
    align-items: center;
    justify-content: center;
    gap: 0px;
}

.content-choose {
    display: flex;
    padding-left: 30px;
    align-items: center;
    justify-content: center;
}

footer {
    background-color:#526056;
    color: white;
    text-align: center;
}

.video-wrapper {
    width: 774px;
    height: 612px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.video-wrapper-6 {
    width: 675px;
    height: 630px;
}

.resizable-video {
    text-align: center;
    position: absolute;
    top: 0;
    width: 900px;
    height: auto;
    left: -63px;
    transform: scaleX(-1);
    object-fit: cover;
}

.resizable-video-6 {
    width: 899px;
    left: -112px;
}

.flash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    z-index: 2;
}

#timer, #count {
    width: 160px;
    font-family: "Playfair Display", serif;
    font-size: 90px;
    font-weight: bold;
    color: #526056;
}

#count {
    padding-left: 45px;
    padding-right: -45px;
}

.photo-container {
    position: relative;
    padding-left: 20px;
}

.photobooth-container {
    position: absolute;
    display: inline-block;
    top: 0px;
    bottom: 0px;
    left: 50%;
    right: 0px;
}

.photobooth-container-6 {
    left: 64%;
}

.photobooth-container-4 img {
    position: absolute;
    display: block;
    width: 210px;
    height: auto;
    left: 300px;
    top: 35px;
}

.photobooth-container-6 img {
    position: absolute;
    display: block;
    width: 400px;
    height: auto;
    left: 5px;
    top: 40px;
}

.fourcutsbutton {
    position: absolute;
    border: none;
    width: 5px;
    height: auto;
    background: transparent;
    left: 23.5px;
}

.fourcutsbutton img, #chosen-photo1-4, #chosen-photo2-4, #chosen-photo3-4, #chosen-photo4-4 {
    display: block;
    width: 164px;
}

.fourcutsbutton#selected1{
    top: 41px;
}

.fourcutsbutton#selected2 {
    top: 185.5px;
}

.fourcutsbutton#selected3 {
    top: 330px;
}

.fourcutsbutton#selected4 {
    top: 474.5px;
}

.fourcutsbutton:hover {
    background-color: transparent;
}


.sixcutsbutton {
    position: absolute;
    border: none;
    width: 5px;
    height: auto;
    background: transparent;
}

.sixcutsbutton img,#chosen-photo1-6, #chosen-photo2-6, #chosen-photo3-6, #chosen-photo4-6, #chosen-photo5-6, #chosen-photo6-6 {
    display: block;
    width: 178px;
}

.sixcutsbutton#selected1 {
    top: 52.7px;
    left: 17px;
}

.sixcutsbutton#selected2 {
    top: 52.7px;
    left: 204.5px;
}

.sixcutsbutton#selected3 {
    top: 233.9px;
    left: 17px;
}

.sixcutsbutton#selected4 {
    top: 233.9px;
    left: 204.5px;
}

.sixcutsbutton#selected5 {
    top: 415.1px;
    left: 17px;
}

.sixcutsbutton#selected6 {
    top: 415.1px;
    left: 204.5px;
}

.sixcutsbutton:hover {
    background-color: transparent;
}


.photobutton {
    background-color: transparent;
    padding: 5px;
    size: auto;
}

.photobutton:hover {
    background-color: #526056;
}

.done-button {
    position: absolute;
    right: 30px;
    bottom: 100px;
}

.framebutton {
    background-color: transparent;
    size: auto
}

.framebutton img {
    width: 150px;
    height: 90px;
    border-radius: 10px;
}

.photobooth-container-4 img.frame {
    position: absolute;
    display: block;
    width: 210px;
    height: auto;
    left: 300px;
    top: -35px;
    z-index: 10;
}

#chosen-photo1-4 {
    left: 323.5px;
    top: 5.1px;
}

#chosen-photo2-4 {
    left: 323.5px;
    top: 149.6px;
}

#chosen-photo3-4 {
    left: 323.5px;
    top: 294.1px;
}

#chosen-photo4-4 {
    left: 323.5px;
    top: 438.6px;
}

.photobooth-container-6 img.frame {
    position: absolute;
    display: block;
    width: 400px;
    height: auto;
    left: 12px;
    top: -28px;
    z-index: 10;

}

#chosen-photo1-6 {
    left: 29px;
    top: 25.5px;
}

#chosen-photo2-6 {
    left: 216.5px;
    top: 25.5px;
}

#chosen-photo3-6 {
    left: 29px;
    top: 206.7px;
}

#chosen-photo4-6 {
    left: 216.5px;
    top: 206.7px;
}

#chosen-photo5-6 {
    left: 29px;
    top: 387.9px;
}

#chosen-photo6-6 {
    left: 216.5px;
    top: 387.9px;
}