<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Choose</title>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="content" class="content-choose">
            <div class="photo-container">
                <p class="choose-heading">Choose your pictures</p>
                <div class ="photo-container">
                    <button class="photobutton" id="pic1">
                        <img src="/static/temp-photos/photo_1.png" alt="Photo 1" width="200">
                    </button>
                    <button class="photobutton" id="pic2">
                        <img src="/static/temp-photos/photo_2.png" alt="Photo 2" width="200">
                    </button>
                    <button class="photobutton" id="pic3">
                        <img src="/static/temp-photos/photo_3.png" alt="Photo 3" width="200">
                    </button>
                    <button class="photobutton" id="pic4">
                        <img src="/static/temp-photos/photo_4.png" alt="Photo 4" width="200">
                    </button>
                </div>
                <div class="photo-container">
                    <button class="photobutton" id="pic5">
                        <img src="/static/temp-photos/photo_5.png" alt="Photo 5" width="200">
                    </button>
                    <button class="photobutton" id="pic6">
                        <img src="/static/temp-photos/photo_6.png" alt="Photo 6" width="200">
                    </button>        
                    <button class="photobutton" id="pic7">
                        <img src="/static/temp-photos/photo_7.png" alt="Photo 7" width="200">
                    </button>
                    <button class="photobutton" id="pic8">
                        <img src="/static/temp-photos/photo_8.png" alt="Photo 8" width="200">
                    </button>                 
                </div>
            </div>
            <div class="photobooth-container photobooth-container-4">
                <img src="static/frame/4cuts/white-frame-4.png" alt = "Frame">
                <button class="fourcutsbutton" id="selected1">
                    <img src="/static/deco/green4cuts.png">
                </button>
                <button class="fourcutsbutton" id="selected2">
                    <img src="/static/deco/green4cuts.png">
                </button>
                <button class="fourcutsbutton" id="selected3">
                    <img src="/static/deco/green4cuts.png">
                </button>
                <button class="fourcutsbutton" id="selected4">
                    <img src="/static/deco/green4cuts.png">
                </button>    
            </div>       
            <script src="/static/choose_photo.js"></script>
            <button class="done-button" onclick="window.location.href='/deco4cuts'">Done</button>
        </div>
    </body>
    <footer>
        <p>&copy; 2025 Chuc An Trinh. Built for portfolio purposes.
            <a href="https://github.com/chucan1312/photobooth-project" target="_blank">View on Github</a>
        </p>
    </footer>
</html>