<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Frame and Decoration</title>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="content" class="content-choose">
        <div class="photo-container">
            <p class="choose-heading deco-heading">Frame and Filter</p>
            <h2>Filter</h2>
            <div class="photo-container">
                <button class="framebutton" id="normal">
                    <img src="/static/deco/normalbutton.png" alt="Normal">
                </button>
                <button class="framebutton" id="brighten">
                    <img src="/static/deco/brightenfilterbutton.png" alt="Brighten">
                </button>
                <button class="framebutton" id="bnw">
                    <img src="/static/deco/bnwfilterbutton.png" alt="Black & White">
                </button>
            </div>
            <h2>Frame</h2>
            <div class="photo-container">
                <button class="framebutton" id="black">
                    <img src="/static/deco/blackbutton.png" alt="Black">
                </button>
                <button class="framebutton" id="white">
                    <img src="/static/deco/whitebutton.png" alt="White">
                </button>
                <button class="framebutton" id="pink">
                    <img src="/static/deco/pinkbutton.png" alt="Pink">
                </button>
            </div>
            <div class="photo-container">
                <button class="framebutton" id="blue">
                    <img src="/static/deco/bluebutton.png" alt="Blue">
                </button>
                <button class="framebutton" id="cherry">
                    <img src="/static/deco/cherrybutton.png" alt="Cherry">
                </button>
                <button class="framebutton" id="purple-ombre">
                    <img src="/static/deco/purplebutton.png" alt="Purple Ombre">
                </button>
            </div>
            <div class="photobooth-container photobooth-container-4">
                <img class="frame" src="static/frame/4cuts/white-frame-4.png" alt="Frame">
                <img class="chosen-photo" id="chosen-photo1-4" src="{{ slots[0] }}">
                <img class="chosen-photo" id="chosen-photo2-4" src="{{ slots[1] }}">
                <img class="chosen-photo" id="chosen-photo3-4" src="{{ slots[2] }}">
                <img class="chosen-photo" id="chosen-photo4-4" src="{{ slots[3] }}">
            </div>
        </div>
        <!-- FIX THIS -->
        <input type="hidden" name="cut-type" id="4-cuts">
        <input type="hidden" name="frame" id="">
        <input type="hidden" name="slot1" id="slot1">
        <input type="hidden" name="slot2" id="slot2">
        <input type="hidden" name="slot3" id="slot3">
        <input type="hidden" name="slot4" id="slot4">
        <button type="submit" class="done-button">Done</button>
    </div>
    <script src="/static/choose_frame.js"></script>
    <script src="/static/choose_filter.js"></script>
</body>
<footer>
    <p>&copy; 2025 Chuc An Trinh. Built for portfolio purposes.
        <a href="https://github.com/chucan1312/photobooth-project" target="_blank">View on Github</a>
    </p>
</footer>

</html>