<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SelectFrame</title>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">    
    </head>
    <body>
        <div class="content">
            <h1>Select your frame</h1>
            <div class="button-containter">
                <button class="frame-button" onclick="window.location.href='/photobooth?max=8'">
                    <img class="frame-img" src="/static/deco/4cutsbutton.png" alt="4-cuts">
                </button>
                <button class="frame-button" onclick="window.location.href='/photobooth?max=10'">
                    <img class="frame-img" src="/static/deco/6cutsbutton.png" alt="6-cuts">
                </button>
            </div>
        </div>
    </body>
    <footer>
        <p>&copy; 2025 Chuc An Trinh. Built for portfolio purposes.
            <a href="https://github.com/chucan1312/photobooth-project" target="_blank">View on Github</a>
        </p>
    </footer>
</html>